<!-- container principal -->
<div class="min-h-screen bg-gray-200 overflow-x-hidden">

    <!-- container com  padding -->
    <div class="flex flex-col gap-4 px-6 mt-6 py-5">

        <!-- Card central branco com sombra -->
        <div class="p-5 bg-white rounded shadow flex flex-col justify-center items-center mx-auto w-full gap-4">
            <div class="self-start w-full flex flex-col mx-5">
                <h1 style="color: black;" class="text-black font-bold text-xl">
                    Controle de movimentação
                </h1>
                <h2 style="color: rgb(79, 77, 77);" class="text-gray-100">
                    Mova peças entre estações seguindo o fluxo do
                    processo
                </h2>
            </div>
            <div class="flex flex-col p-4 gap-4 w-full">

                <div class="border border-gray-200 shadow p-4 rounded flex flex-col gap-4 w-full">
                    <div class="flex gap-3 items-center">
                        <nz-icon nzType="line-chart" nzTheme="outline" class="text-[26px]"
                            style="color: #2A61CF;"></nz-icon>
                        <h1 style="color: black;" class="text-black text-lg">Pesquisar e mover</h1>
                    </div>
                    <div class="flex flex-col">

                    </div>
                    <label class="font-semibold text-gray-700" for="peca-codigo">Código da peça</label>
                    <div class="flex items-center gap-3">
                        <div class="flex items-center gap-2 w-full">
                            <input nz-input id="peca-codigo" placeholder="Digite o código da peça" [(ngModel)]="code"
                            type="text" class="!rounded-md" style="color: black;" />
                            <input nz-input id="peca-codigo" placeholder="Responsavel" [(ngModel)]="responsable"
                            type="text" class="!rounded-md" style="color: black;" />
                            
                        </div>
                        <button (click)=registrarMovimentacao() style="color: white;"
                            class="bg-blue-500 hover:bg-blue-800 text-white p-2 rounded cursor-pointer ease-in-out">
                            mover
                        </button>
                    </div>

                </div>

               <div class="flex flex-col md:grid md:grid-cols-2 lg:grid-cols-3  space-x-4 scroll-custom flex-wrap gap-4  ">
                    <div *ngFor="let station of stationsWithParts" class=" max-h-[500px] min-w-[300px] w-full bg-gray-200  scroll-custom overflow-y-scroll rounded shadow p-4">
                        <div class="flex justify-between items-center mb-2">
                        <h3 class="font-bold text-lg">{{ station.name }}</h3>
                        </div>

                        <div class="grid gap-2 ">
                        <div *ngFor="let part of station.parts" class="bg-white p-2 rounded shadow flex justify-between items-center">
                            <div>
                            <p><b>{{ part.code }}</b></p>
                            <p>ID: {{ part.id }}</p>
                            </div>
                            <nz-icon class="cursor-pointer text-lg" (click)="moverParaProximaEstacao(part)" nzType="arrow-right" nzTheme="outline" />
                        </div>
                        </div>
                    </div>
                    </div>

    
            </div>
        </div>
    </div>
</div>