<!-- container principal -->
<div class="min-h-screen bg-gray-200 overflow-x-hidden">

    <!-- container com  padding -->
    <div class="flex flex-col gap-4 px-6 mt-6 py-5 bg-white mx-6">
        <h1 style="color: black;" class="text-black font-bold text-xl">Dashboard</h1>
        <h2 style="color: rgb(79, 77, 77);" class="text-gray-100">Visão geral do sistema de produção</h2>

        <div class="flex items-center flex-col sm:grid sm:grid-cols-2 lg:grid-cols-4 gap-3 my-3 w-full">
            <div class="bg-blue-100 border-1 rounded p-4 border-blue-700 items-start flex flex-col w-full">
                <h1 style="color: black;">Total de peças</h1>
                <h1 class="text-xl font-extrabold" style="color: rgb(6, 6, 191);">{{qtdParts}}</h1>
            </div>
            <div class="bg-yellow-100 border-1 rounded p-4 border-yellow-700 items-start flex flex-col w-full ">
                <h1 style="color: black;">Em processamento</h1>
                <h1 class="text-xl font-extrabold" style="color: rgb(125, 117, 7);">{{qtdProcesso}}</h1>
            </div>
            <div class="bg-green-100 border-1 rounded p-4 border-green-700 items-start flex flex-col w-full ">
                <h1 style="color: black;">Finalizadas</h1>
                <h1 class="text-xl font-extrabold" style="color: rgb(3, 116, 14);">{{qtdFinalizadas}}</h1>
            </div>
            <div class="bg-purple-100 border-1 rounded p-4 border-purple-700 items-start flex flex-col w-full ">
                <h1 style="color: black;">Movimentações</h1>
                <h1 class="text-xl font-extrabold" style="color: rgb(154, 8, 176);">{{qtdMov}}</h1>
            </div>

        </div>

        <div class="flex flex-col lg:grid lg:grid-cols-2 my-5 p-4 gap-4">

            <div class="border border-gray-200 shadow p-4 rounded flex flex-col gap-4 ">
                <div class="flex gap-3 items-center">
                    <nz-icon nzType="line-chart" nzTheme="outline" class="text-[26px]"
                        style="color: #2A61CF;"></nz-icon>
                    <h1 style="color: black;" class="text-black text-lg">Status das estações</h1>
                </div>
                <div class="flex flex-col gap-3 overflow-y-scroll max-h-[280px] scroll-custom">
                    <div
                        [routerLink]="['moviment']"
                        *ngFor="let station of stations"
                        class="bg-gray-200 cursor-pointer hover:bg-gray-300 rounded p-2 px-4 flex justify-between items-center "
                    >
                        <div  class="flex flex-col">
                            <h1 style="color: black;" class="font-bold">{{ station.title }}</h1>
                            <h2 style="color: rgb(79, 77, 77);" class="text-sm">Estação {{ station.sort }}</h2>
                        </div>
                        <div class="bg-blue-600 rounded-full flex items-center justify-center px-4 text-white py-1">
                        {{ getPartsCountForStation(station.id) }} peça(s)
                        </div>
                    </div>
                </div>
            </div>

            <div class="border border-gray-200 shadow p-4 rounded flex flex-col gap-4 ">
                <div class="flex gap-3 items-center">
                    <nz-icon nzType="line-chart" nzTheme="outline" class="text-[26px]"
                        style="color: #2A61CF;"></nz-icon>
                    <h1 style="color: black;" class="text-black text-lg">Movimentações recentes</h1>
                </div>
                <div class="flex flex-col gap-3 overflow-y-scroll max-h-[280px] scroll-custom">
                    <div *ngFor="let moviment of history" class="bg-gray-200 hover:bg-gray-300 rounded p-2 px-4 flex justify-between items-center">
                        <div class="flex flex-col">
                        <h1 style="color: black;" class="font-bold">Peça {{ moviment.partId | number:'3.0' }}</h1>
                        <h2 style="color: rgb(79, 77, 77);" class="text-sm">
                            {{ getStationName(moviment.origin) }} -> {{ getStationName(moviment.destination) }}
                        </h2>
                        <h2 style="color: rgb(79, 77, 77);" class="text-sm">
                            {{ moviment.dateTime | date:'dd/MM/yyyy' }}
                        </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>