<!-- container principal -->
<div class="min-h-screen bg-gray-200 overflow-x-hidden">

    <!-- container com  padding -->
    <div class="flex flex-col gap-4 px-2 md:px-6 mt-6 py-5">

        <!-- Card central branco com sombra -->
        <div class="p-5 bg-white rounded shadow flex flex-col justify-center items-center mx-auto w-full gap-4">

            <!-- botões de seleção  -->
            <div nz-button-group class="w-full flex m-3 flex-col md:flex-row items-center gap-3 md:gap-0">

                <button nz-button [nzType]="selected === 'pecas' ? 'default' : 'text'" (click)="select('pecas')"
                    class="w-full md:w-1/2" [ngStyle]="{
                        'border': selected === 'pecas' ? '1px solid #1890ff' : '1px solid #d9d9d9',
                        'z-index': selected === 'pecas' ? 1 : 0,
                        'color': selected === 'pecas' ? '#1890ff' : 'inherit'
                    }">
                    <span nz-icon nzType="appstore"></span>
                    Gestão de Peças
                </button>


                <button nz-button [nzType]="selected === 'estacoes' ? 'default' : 'text'" (click)="select('estacoes')"
                    class="w-full md:w-1/2" [ngStyle]="{
                        'border': selected === 'estacoes' ? '1px solid #1890ff' : '1px solid #d9d9d9',
                        'z-index': selected === 'estacoes' ? 1 : 0,
                        'color': selected === 'estacoes' ? '#1890ff' : 'inherit'
                    }">
                    <span nz-icon nzType="line-chart"></span>
                    Gestão de Estações
                </button>
            </div>

            <!-- se btn estiver em peças -->
            <div *ngIf="selected === 'pecas'"
                class="border shadow border-gray-300 flex flex-col gap-3 rounded p-4 w-full">

                <!-- cadastrar nova peça -->
                <div class="flex flex-col">
                    <h1 class="font-bold text-2xl text-black">+ Cadastrar nova peça</h1>
                    <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">Registre uma nova peça no sistema de
                        produção
                    </h2>
                </div>

                <label class="font-semibold text-gray-700" for="peca-codigo">Código da peça</label>
                <div class="flex flex-col md:flex-row items-center gap-3">
                    <div class="flex flex-col gap-2 w-full">
                        <input nz-input id="peca-codigo" placeholder="Digite o código da peça" [(ngModel)]="newPartCode"
                            type="text" class="!rounded-md" style="color: black;" />
                    </div>
                    <button (click)="registerPart()" style="color: white;"
                        class="bg-blue-500 w-full md:w-auto hover:bg-blue-800 text-white p-1 md:p-2 rounded cursor-pointer ease-in-out">
                        Cadastrar
                    </button>
                </div>

                <!-- Listagem de peças -->
                <div class="flex flex-col">
                    <h1 class="font-bold text-2xl text-black">Listagem de peças</h1>
                    <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">1 peça cadastrada no sistema</h2>
                </div>

                <label class="font-semibold text-gray-700" for="peca-codigo-search">Pesquise por código</label>
                <div class="flex items-center gap-3 flex-col md:flex-row">
                    <div class="flex flex-col gap-2 w-full">
                        <input nz-input id="peca-codigo-search" placeholder="Digite o código da peça"
                            [(ngModel)]="value" type="text" class="!rounded-md" style="color: black;" />
                    </div>
                    <button style="color: white;"
                        class="bg-blue-500 w-full md:w-auto hover:bg-blue-800 text-white p-1 md:p-2 rounded cursor-pointer ease-in-out">
                        Pesquisar
                    </button>
                </div>

                <div class="overflow-x-auto scroll-custom w-full">
                    <nz-table [nzData]="filteredParts" [nzShowPagination]="false" [nzFrontPagination]="false"
                        [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Data de Criação</th>
                                <th>Estação Atual</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filteredParts">
                                <td><b>{{ item.code }}</b></td>
                                <td>{{ getStationName(item.curStationId) }}</td>
                                <td>{{ item.status }}</td>
                                <td>
                                    <nz-badge [nzStatus]="'processing'" [nzText]="item.status"></nz-badge>
                                </td>
                                <td class="flex items-center gap-6 cursor-pointer">
                                    <nz-icon nzType="edit" nzTheme="outline" (click)="openEditModal(item)"></nz-icon>
                                    <button (click)="openDeleteModal(item)"
                                        style="background:none; border:none; cursor:pointer;">
                                        <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>

                <!-- MODAL ATUALIZAR PEÇA -->

                <nz-modal [(nzVisible)]="editModalVisible" nzTitle="Editar peça"
                    (nzOnCancel)="editModalVisible = false" (nzOnOk)="updatePart()" [nzOkDanger]="false"
                    [nzOkText]="'Editar'" [nzCancelText]="'Cancelar'" [nzOkLoading]="loading">
                    <div *nzModalContent class="flex flex-col gap-3">
                        <div>
                            <label for="">Código da peça</label>
                            <input nz-input [(ngModel)]="partCode" placeholder="Novo código" />
                        </div>
                    </div>

                </nz-modal>

                <!-- MODAL EXCLUIR PEÇAS -->

                <nz-modal [(nzVisible)]="deleteModalVisible" nzTitle="Confirmar Exclusão" [nzOkDanger]="true"
                    [nzOkText]="'Excluir'" (nzOnCancel)="deleteModalVisible = false" (nzOnOk)="deletePart()"
                    [nzOkLoading]="loading">
                    <p *nzModalContent>Tem certeza que desseja excluir essa peça?</p>
                </nz-modal>

            </div>

            <!-- Conteúdo de ESTAÇÕES ------------------------------------------------------------------------------------------- -->
            
            <div *ngIf="selected === 'estacoes'"
                class="border shadow border-gray-300 flex flex-col gap-3 rounded p-4 w-full">

                <!-- Cadastrar nova estação -->
                <div class="flex flex-col">
                    <h1 class="font-bold text-2xl text-black">+ Cadastrar nova estação</h1>
                    <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">Registre uma nova estação no sistema</h2>
                </div>

                '' <div class="flex flex-col md:flex-row gap-3 w-full">
                    <div class="flex flex-col md:flex-row items-center gap-3 w-full">
                        <div class="w-full">
                            <label class="font-semibold text-gray-700" for="estacao-codigo">Nome da estação</label>
                            <div class="flex items-center gap-3">
                                <div class="flex flex-col gap-2 w-full">
                                    <input nz-input id="estacao-codigo" placeholder="Digite o código da estação"
                                        [(ngModel)]="stationTitle" type="text" class="!rounded-md"
                                        style="color: black;" />
                                </div>
                            </div>
                        </div>
                        <div class="w-full">
                            <label class="font-semibold text-gray-700" for="estacao-local">Ordem da estação</label>
                            <div class="flex items-center gap-3">
                                <div class="flex flex-col gap-2 w-full">
                                    <input nz-input id="estacao-local" placeholder="Digite a ordem da estação"
                                        [(ngModel)]="stationOrder" type="number" class="!rounded-md"
                                        style="color: black;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button (click)="registerStation()" style="color: white;"
                    class="bg-blue-500 hover:bg-blue-800 text-white p-2 rounded cursor-pointer ease-in-out">
                    Cadastrar
                </button>

                <!-- Listagem de estações -->
                <div class="flex flex-col mt-4">
                    <h1 class="font-bold text-2xl text-black">Listagem de estações</h1>
                    <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">1 estação cadastrada no sistema</h2>
                </div>

                <div class="overflow-x-auto scroll-custom w-full">
                    <nz-table class="min-w-[600px]" [nzData]="stations" [nzFrontPagination]="false"
                        [nzShowPagination]="false">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Ordem no processo</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of stations">
                                <td><b>{{ item.title }}</b></td>
                                <td>{{ item.sort }}</td>
                                <td class="flex items-center gap-6 cursor-pointer">
                                    <nz-icon (click)="openEditModalStation(item)" nzType="edit"
                                        nzTheme="outline"></nz-icon>
                                    <nz-icon (click)="openDeleteModalStation(item)" nzType="delete"
                                        nzTheme="outline"></nz-icon>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>

            <!-- MODAL EDITAR ESTAÇÃO  -->

                <nz-modal [(nzVisible)]="editModalVisible" nzTitle="Editar estação"
                    (nzOnCancel)="editModalVisible = false" (nzOnOk)="updateStation()" [nzOkDanger]="false"
                    [nzOkText]="'Editar'" [nzCancelText]="'Cancelar'" [nzOkLoading]="loading">
                    <div *nzModalContent class="flex flex-col gap-3">
                        <div>
                            <label for="">Estação</label>
                            <input nz-input [(ngModel)]="stationNewTitle" placeholder="Novo nome da estação" />
                        </div>
                        <div>
                            <label for="">Ordem</label>
                            <input nz-input [(ngModel)]="stationNewOrder" placeholder="Ordem da estação" />
                        </div>
                    </div>

                </nz-modal>

                <!-- MODAL EXCLUIR ESTAÇÃO -->

                <nz-modal [(nzVisible)]="deleteModalVisible" nzTitle="Confirmar Exclusão"
                    (nzOnCancel)="deleteModalVisible = false" (nzOnOk)="deleteStation()" [nzOkDanger]="true"
                    [nzOkText]="'Excluir'" [nzCancelText]="'Cancelar'" [nzOkLoading]="loading">
                    <div *nzModalContent>
                        <p class="font-bold">Tem certeza que deseja excluir a estação?</p>
                        <p>Todas as peças associadas a essa estação serão excluidas permanentemente!</p>
                    </div>
                </nz-modal>

            </div> 
        </div> 
    </div> 
</div> 