<!-- container principal -->
<div class="min-h-screen bg-gray-200 overflow-x-hidden">

    <!-- container com  padding -->
    <div class="flex flex-col gap-4 px-6 mt-6 py-5">

        <!-- Card central branco com sombra -->
        <div class="p-5 bg-white rounded shadow flex flex-col justify-center items-center mx-auto w-full gap-4">

            <!-- botões de seleção  -->
            <div nz-button-group class="w-full flex m-3">
              
                <button nz-button [nzType]="selected === 'pecas' ? 'default' : 'text'" (click)="select('pecas')"
                    class="w-1/2" [ngStyle]="{
                        'border': selected === 'pecas' ? '1px solid #1890ff' : '1px solid #d9d9d9',
                        'z-index': selected === 'pecas' ? 1 : 0,
                        'color': selected === 'pecas' ? '#1890ff' : 'inherit'
                    }">
                    <span nz-icon nzType="appstore"></span>
                    Gestão de Peças
                </button>

                
                <button nz-button [nzType]="selected === 'estacoes' ? 'default' : 'text'" (click)="select('estacoes')"
                    class="w-1/2" [ngStyle]="{
                        'border': selected === 'estacoes' ? '1px solid #1890ff' : '1px solid #d9d9d9',
                        'z-index': selected === 'estacoes' ? 1 : 0,
                        'color': selected === 'estacoes' ? '#1890ff' : 'inherit'
                    }">
                    <span nz-icon nzType="line-chart"></span>
                    Gestão de Estações
                </button>
            </div>

            <!-- se btn estiver em peças -->
            <div *ngIf="selected === 'pecas'"
                class="border shadow border-gray-300 flex flex-col gap-3 rounded p-4 w-full">

                <!-- cadastrar nova peça -->
                <div class="flex flex-col">
                    <h1 class="font-bold text-2xl text-black">+ Cadastrar nova peça</h1>
                    <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">Registre uma nova peça no sistema de
                        produção</h2>
                </div>

                <label class="font-semibold text-gray-700" for="peca-codigo">Código da peça</label>
                <div class="flex items-center gap-3">
                    <div class="flex flex-col gap-2 w-full">
                        <input nz-input id="peca-codigo" placeholder="Digite o código da peça" [(ngModel)]="value"
                            type="number" class="!rounded-md" style="color: black;" />
                    </div>
                    <button style="color: white;" class="bg-blue-500 hover:bg-blue-800 text-white p-2 rounded cursor-pointer ease-in-out">
                        Cadastrar
                    </button>
                </div>

                <!-- Listagem de peças -->
                <div class="flex flex-col">
                    <h1 class="font-bold text-2xl text-black">Listagem de peças</h1>
                    <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">1 peça cadastrada no sistema</h2>
                </div>

                <label class="font-semibold text-gray-700" for="peca-codigo-search">Pesquise por código</label>
                <div class="flex items-center gap-3">
                    <div class="flex flex-col gap-2 w-full">
                        <input nz-input id="peca-codigo-search" placeholder="Digite o código da peça"
                            [(ngModel)]="value" type="number" class="!rounded-md" style="color: black;" />
                    </div>
                    <button style="color: white;" class="bg-blue-500 hover:bg-blue-800 text-white p-2 rounded cursor-pointer ease-in-out">
                        Pesquisar
                    </button>
                </div>

                <nz-table [nzData]="data" [nzFrontPagination]="false" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Data de Criação</th>
                            <th>Estação Atual</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data">
                            <td><b>{{ item.codigo }}</b></td>
                            <td>{{ item.dataCriacao }}</td>
                            <td>{{ item.estacaoAtual }}</td>
                            <td>
                                <nz-badge [nzStatus]="'processing'" [nzText]="item.status"></nz-badge>
                            </td>
                            <td class="flex items-center gap-6 cursor-pointer">
                                <nz-icon nzType="edit" nzTheme="outline" />
                                <nz-icon nzType="delete" nzTheme="outline" />
                            </td>
                        </tr>
                    </tbody>
                </nz-table>

            </div> <!-- Fim bloco PEÇAS -->

            <!-- Conteúdo de ESTAÇÕES ------------------------------------------------------------------------------------------- -->
            <div *ngIf="selected === 'estacoes'"
                class="border shadow border-gray-300 flex flex-col gap-3 rounded p-4 w-full">

                <!-- Cadastrar nova estação -->
                <div class="flex flex-col">
                    <h1 class="font-bold text-2xl text-black">+ Cadastrar nova estação</h1>
                    <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">Registre uma nova estação no sistema</h2>
                </div>

                <div class="flex flex-col md:flex-row gap-3 w-full">
                    <div class="flex flex-col md:flex-row items-center gap-3 w-full">
                        <div class="w-full">
                            <label class="font-semibold text-gray-700" for="estacao-codigo">Nome da estação</label>
                            <div class="flex items-center gap-3">
                                <div class="flex flex-col gap-2 w-full">
                                <input nz-input id="estacao-codigo" placeholder="Digite o código da estação"
                                    [(ngModel)]="value" type="text" class="!rounded-md" style="color: black;" />
                                </div>
                            </div>
                        </div>
                        <div class="w-full">
                            <label class="font-semibold text-gray-700" for="estacao-local">Ordem da estação</label>
                            <div class="flex items-center gap-3">
                                <div class="flex flex-col gap-2 w-full">
                                <input nz-input id="estacao-local" placeholder="Digite a ordem da estação"
                                    [(ngModel)]="valueLocal" type="number" class="!rounded-md" style="color: black;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button style="color: white;" class="bg-blue-500 hover:bg-blue-800 text-white p-2 rounded cursor-pointer ease-in-out">
                Cadastrar
            </button>

            <!-- Listagem de estações -->
            <div class="flex flex-col mt-4">
                <h1 class="font-bold text-2xl text-black">Listagem de estações</h1>
                <h2 class="text-gray-100" style="color: rgb(79, 77, 77);">1 estação cadastrada no sistema</h2>
            </div>


            <nz-table [nzData]="dataStation" [nzFrontPagination]="false" [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Data de Criação</th>
                        <th>Quantidade</th>
                        <th>Ações</th>
                    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataStation">
                        <td><b>{{ item.title}}</b></td>
                        <td>{{ item.dataCriacao }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td class="flex items-center gap-6 cursor-pointer">
                            <nz-icon nzType="edit" nzTheme="outline" />
                            <nz-icon nzType="delete" nzTheme="outline" />
                        </td>
                       
                    </tr>
                </tbody>
            </nz-table>

        </div> <!-- Fim bloco ESTAÇÕES -->

    </div> <!-- Fim do card branco central -->

</div> <!-- Fim da coluna principal -->

</div> <!-- Fim do container principal -->